<header>
    <div class="banner">
        <a href="/">
            <div class="logo" style="background-image:url(/static/img/profile.jpg)"></div>
            <h1>skw@www:/var/log$ <span class="blink">_</span></h1>
        </a>
    </div>
    <nav>
        <a href="/posts/" title="Posts">./posts</a>
        <a href="/notes/" title="Notes">./notes</a>
        <a href="/links.html" title="Links">./links</a>
        <a href="/now.html" title="Now">./now</a>
        <a href="/about.html" title="About">./about</a>
    </nav>
</header>
