/* Color palette */
:root {
    --azure:       #00ffff;
    --beige:       #ffddbb;
    --black:       #373737;
    --blue-dark2:  #2020f0;
    --blue-dark:   #729fcf;
    --blue-light:  #a0ffff;
    --green-dark:  #00cf12;
    --green-light: #b8ff60;
    --grey2:       #93a1a1;
    --grey3:       #dddddd;
    --grey4:       #f2f2f2;
    --grey:        #b3b3b3;
    --orange:      #ff9900;
    --red-dark:    #662222;
    --red:         #ff4040;
    --white-back:  #fffff0;
    --white:       #ffffff;
    --yellow:      #ffff50;
}

/* Inconsolata typefaces */
@font-face {
    font-display: swap;
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-display: swap;
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata-Bold.ttf);
    font-weight: bold;
}


html {
    font-size: 1.1rem;
    background-color: var(--white-back);
    color: var(--black);
    margin: 0;
    padding: 0;
}

body {
    display: block;
    width: 90%;
    margin: auto;
}

/* Preamble (header) */
#preamble {
    font-family: 'Inconsolata', sans-serif;
}

#preamble img {
    border-radius: 40%;
    display: inline-block;
    float: left;
    margin-top: 0.8em;
    width: 5%;
}

#preamble h1 {
    display: inline-block;
    text-align: left;
    font-size: 2.80em;
    color: var(--blue-dark2);
    margin-left: 1em;
    margin-bottom: 0em;
}


#preamble nav {
    display: block;
    text-align: right;
}

#preamble nav .nav-item {
    padding-left: 1em;
    font-size: 140%;
}

/* Main content */
#content {
    width: 55%;
    margin: auto;
    text-align: justify;
}

#content #table-of-contents h2 {
    display: none;
}

#content h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Quicksand', sans-serif; */
    /* font-weight: normal; */
    font-weight: bold;
    color: var(--red-dark);
    margin-top:    1em;
    margin-bottom: 0.5em;
}

#content h1 {
    font-size: 2.0em;
    padding-bottom: 1em;
}

#content h2 {
    font-size: 2.0em;
}

#content h3 {
    font-size: 1.60em;
}

#content h4 {
    font-size: 1.35em;
}

#content .title {
    text-align: center;
    font-size: 2.25em;
    font-weight: bold;
    padding-top: 0;
}

#content .underline {
    text-decoration: underline;
}

/* Stuff */
#content tr:nth-child(even) {
    background-color:var(--grey4);
}

#content tr:hover {
    background-color: var(--grey3);
}

#content th {
    background-color: var(--blue-dark);
}

#content table ,th, td {
    border: 1px solid black;
}

#content table {
    border-collapse: collapse;
}

#content th {
    padding: 15px;
    text-align: left;
}

#content td {
    padding: 15px;
    text-align: left;
}

#content table {
    margin-left: auto ;
    margin-right: auto ;
}

#content pre {
    border: 1pt solid var(--grey-2);
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0.5em;
}

#content .example {
    background-color:var(--beige);
}

#content code {
    color: var(--red);
    font-size: 0.9rem;
    white-space: nowrap;
}

#content .post-date {
    width: 100%;
    text-align: right;
    /* padding-bottom: 1.3em; */
    /* padding-bottom: 0.5em; */
}

/* Postamble (footer) */
#postamble {
    text-align: center;
    padding-top: 4em;
}

#postamble img {
    vertical-align: middle;
    margin: 0px;
    object-fit: contain;
}

/* Utility styles */
.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Images */
#content .figure {
    text-align: center;
}


/* Timestamp (Org macro) */
.timestamp {
    font-weight: bold;
}

h2 span.timestamp {
    font-weight: normal;
}
